
#main_menu {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#main_menu li{
    border: 2px solid black;
    display: inline-block;
    padding: 0;
}

#main_menu ul {
    text-align: center;
}

#main_menu li:hover {
    background-color: aqua;
    cursor: pointer;
}
#main_menu li:active {
    background-color: blueviolet;
}

#header{
    background-image: url("images/bricks2.png'");

}

#footer {
    background-image: url("images/bricks2.png'");
}
